<a class="user-show-link group" href="javascript:void(0)">
  <img src="<%= user.escape('image_url_thumb') %>">

  <div class="user-item-details">
    <h2 class="user-item-name"><%= user.getName() %></h2>
    <span class="user-item-statistic">
      <% if (itemType === 'best players') { %>
        <strong><%= user.escape('total_answered') %></strong>
        total questions answered
      <% } else if (itemType === 'best authors') { %>
        <strong><%= user.escape('created_games_play_count') %></strong>
        plays of <%= user.getName() %>'s games
      <% } %>
    </span>
  </div>
</a>
