<h1><%= @user.username %></h1>

<h2>Deets</h2>
<ul>
  <li>Name: <%= @user.name %></li>
  <li>Email: <%= @user.email %></li>
</ul>

<h2>Created Games</h2>
<ul>
  <% @user.created_games.each do |game| %>
  <li>
    <%= link_to game.title, game_url(game) %>
  </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to "Update your profile", edit_user_url(current_user) %>
<% end %>
