<div class="user-show">
  <h1><%= @user.getName %></h1>

  <div class="group">
    <div class="user-show-content group">
      <%= image_tag @user.image.url(:show) %>

      <div class="user-show-details">
        <h2>Details</h2>
        <table>
          <tr>
            <td class="default-key">Name</td>
            <td class="default-value"><%= @user.name %></td>
          </tr>
          <tr>
            <td class="default-key">Username</td>
            <td class="default-value"><%= @user.username %></td>
          </tr>
          <tr>
            <td class="default-key">Email</td>
            <td class="default-value"><%= @user.email %></td>
          </tr>
        </table>

        <% if @user == current_user %>
          <%= link_to "UPDATE YOUR PROFILE", edit_user_url(current_user),
            class: 'user-show-profile-update button-default' %>
        <% end %>
      </div>
    </div>

    <div class="user-show-created-games">
      <h2>Created Games</h2>
      <ul class="user-show-created-games-list">
        <% @user.created_games.each do |game| %>
          <%= render 'games/item', game: game, with_user: false %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
