<form class="default" action="<%= form_action %>"
  method="POST" enctype="multipart/form-data">
  <%= update_input(form_method) %>
  <%= auth_input %>

  <div>
    <label for="user_username">Username</label>
    <input type="text" name="user[username]" id="user_username"
        value="<%= user.username %>">
  </div>

  <% unless auth_only %>
  <div>
    <label for="user_name">Real name (optional)</label>
    <input type="text" name="user[name]" id="user_name"
        value="<%= user.name %>">
  </div>
  <div>
    <label for="user_email">Email</label>
    <input type="email" name="user[email]" id="user_email"
        value="<%= user.email %>">
  </div>
  <div>
    <label for="user_image">Add an image (optional)</label>
    <span id="user_image-button" class="button-default">UPLOAD</span>
    <%= file_field :user, :image %>
  </div>
  <% end %>

  <div>
    <label for="user_password">Password</label>
    <input type="password" name="user[password]" id="user_password">
  </div>

  <button class="user-form-submit button-default"><%= button_text %></button>
</form>

<script charset="utf-8">
  $('#user_image-button').click(function (event) {
    event.preventDefault();
    $('#user_image').click();
  });

  $('#user_image').change(function (event) {
    $('#user_image-button').text(event.currentTarget.files[0].name);
  });
</script>
