<h1>TOP SECRET: Valid answers for <%= @game.title %></h1>
<h2>For <%= @game.author.getName %>'s eyes only!</h2>

<div class="game-answers-index group">
  <div class="game-answers-add-new">
    <form class="default" action="<%= answers_url %>" method="POST">
      <%= auth_input %>
      <input type="hidden" name="game_id" value="<%= @game.id %>">

      <div>
        <label for="game_answer_answer">New answer</label>
        <input type="text" name="game_answer[answer]" id="game_answer_answer">
      </div>

      <button>add answer</button>
    </form>
  </div>

  <div class="game-answers-existing">
    <ul>
      <% @game.answers.each do |answer| %>
      <li class="group">
        <span class="game-answer-list-item"><%= answer.answer %></span>
        <%= button_to "remove", answer_url(answer), method: :delete %>
      </li>
      <% end %>
    </ul>

    <%= link_to "Back to the game page", game_url(@game) %>
  </div>
</div>

<script>
$(function () {
  $("#game_answer_answer").focus();
});
</script>
