<div>
  <label for="game_title">Title</label>
  <input type="text" name="title" id="game_title"
      value="<%= game.get('title') %>">
</div>
<div>
  <label for="game_subtitle">Subtitle (optional)</label>
  <input type="text" name="subtitle" id="game_subtitle"
      value="<%= game.get('subtitle') %>">
</div>
<div>
  <img id="game-image-preview" src="<%= game.get('image_url_thumb') %>">
  <label for="game_image">Add an image (optional)</label>
  <span id="game_image-button" class="button-default">UPLOAD</span>
  <input type="file" name="image" id="game_image">
</div>
<div>
  <label for="game_source">Source</label>
  <input type="text" name="source" id="game_source"
      value="<%= game.get('source') %>">
</div>
<div>
  <label for="game_time_limit">Time Limit (in seconds)</label>
  <input type="text" name="time_limit" id="game_time_limit"
      value="<%= game.get('time_limit') %>">
</div>
