<h1><%= game.get('title') || '...' %></h1>
<h2><%= game.getSubtitle() %></h2>

<div class="game-show">
  <div class="game-details group">
    <table>
      <tr>
        <td class="default-key">by</td>
        <% if (game.author) { %>
        <td class="default-value"><%= game.author.get('username') %></td>
        <% } %>
      </tr>
      <tr>
        <td class="default-key">Time</td>
        <td class="default-value">
          <%= Dorkle.Utils.timeString(game.get('time_limit')) %>
        </td>
      </tr>
      <tr>
        <td class="default-key">Source</td>
        <td class="default-value"><%= game.get('source') %></td>
      </tr>
    </table>

    <form>
      <button class="round-start">Start Game!</button>
    </form>
  </div>
</div>
