<form class="default" action="<%= form_action %>"
  method="POST" enctype="multipart/form-data">
  <%= update_input(form_method) %>
  <%= auth_input %>

  <div>
    <label for="game_title">Title</label>
    <input type="text" name="game[title]" id="game_title"
        value="<%= game.title %>">
  </div>
  <div>
    <label for="game_subtitle">Subtitle (optional)</label>
    <input type="text" name="game[subtitle]" id="game_subtitle"
        value="<%= game.subtitle %>">
  </div>
  <div>
    <label for="game_image">Add an image (optional)</label>
    <%= file_field :game, :image %>
  </div>
  <div>
    <label for="game_source">Source</label>
    <input type="text" name="game[source]" id="game_source"
        value="<%= game.source %>">
  </div>
  <div>
    <label for="game_time_limit">Time Limit (in seconds)</label>
    <input type="text" name="game[time_limit]" id="game_time_limit"
        value="<%= game.time_limit %>">
  </div>

  <button><%= button_text %></button>
</form>
