<h1><%= @game.title %></h1>
<h2><%= @game.getSubtitle %></h2>

<div class="game-show">
  <div class="game-details group">
    <table>
      <tr>
        <td class="default-key">by</td>
        <td class="default-value"><%= link_to @game.author.username, user_url(@game.author) %></td>
      </tr>
      <tr>
        <td class="default-key">Time</td>
        <td class="default-value"><%= time_string(@game.time_limit) %></td>
      </tr>
      <tr>
        <td class="default-key">Source</td>
        <td class="default-value"><%= @game.source %></td>
      </tr>
    </table>

    <form action="<%= rounds_url %>" method="POST">
      <%= auth_input %>
      <input type="hidden" name="round[game_id]" value="<%= @game.id %>">
      <button>Start Game!</button>
    </form>
  </div>

  <% if @game.author == current_user %>
  <div class="game-manage">
    <h3>Manage your game</h3>
    <%= link_to "Set valid answers", game_answers_url(@game) %>
    <%= link_to "Update this game", edit_game_url(@game) %>
  </div>
  <% end %>

</div>
