<div class="top-bar group">
  <a class="go-to root dorkle-logo-link" href="<%= root_url %>">
    <img class="dorkle-logo" src="<%= image_path("dorkle-logo-small.png") %>">
  </a>
  <span class="welcome-message">
    Dorkle: a spiffy <a href="http://www.sporcle.com">Sporcle</a> spinoff
    by <a href="http://colinjackson.co">Colin Jackson</a>
  </span>
  <ul class="session-info group">
    <% if signed_in? %>

      <li id="notification-display"> <!-- this is where the magic happens! -->
        <img class="current-user-image"
          src="<%= current_user.image.url(:thumb) %>">

        <% is_empty = current_user.notifications.unread.empty? %>
        <span class="notifications-badge <%= is_empty ? "is-empty" : nil %>">
          <%= current_user.notifications.count %>
        </span>
        <%= render "layouts/notification_dropdown" %>

        <a class="go-to current-user" href="<%= user_url(current_user) %>">
          <%= current_user.username %>
        </a>
      </li>
      <li><%= button_to "sign out", session_url(current_session),
        method: :delete %></li>
    <% else %>
      <li><%= link_to "log in", new_session_url %></li>
      <li><%= link_to "sign up", new_user_url %></li>
    <% end %>

  </ul>
</div>

<nav class="navbar">
  <ul class="group">
    <li><%= link_to "HOME", root_url, class: "go-to root" %></li>
    <li><%= link_to "PLAY", games_url, class: "go-to games" %></li>
    <li><%= link_to "CREATE", new_game_url, class: "go-to create" %></li>
    <li><%= link_to "SURPRISE ME!", game_url(Game.all.sample),
      class: "go-to random-game" %></li>
  </ul>
</nav>

<script charset="utf-8">
  $(window).scroll(function (event) {
    $('nav.navbar').toggleClass('fixed', ($(window).scrollTop() > 70));
  });
</script>
