<!DOCTYPE html>
<html>
<head>
  <title>Dorkle</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <% unless auth_action? %>
    <%= javascript_include_tag 'client-routing' %>
  <% end %>

  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script charset="utf-8">
    Pusher.log = function (message) {
      console.log(message);
    };

    window.pusher = new Pusher("<%= ENV["pusher_key"] %>");
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= render "layouts/header" %>
</header>

<div id="flash">
  <%= render "layouts/flash" %>
</div>

<main>
  <%= yield %>
</main>

<footer>
  <a href="https://github.com/colinjackson">
    a <strong>COLIN "S" JACKSON</strong> production
  </a>
</footer>

</body>

<script id="current-user"
    data-id="<%= signed_in? ? current_user.id : nil %>"></script>

</html>
