<!DOCTYPE html>
<html>
<head>
  <title>Dorkle</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= render (signed_in? ? "layouts/session_info" : "layouts/log_in") %>
  <%= render "layouts/flash" %>
</header>

<%= yield %>

</body>
</html>
